In [5]:
import pandas as pd
from datetime import datetime, timedelta

# Import MCP modules
from db_connection import DatabaseConnection
from stored_procedures import StoredProcedures
from report_generator import ReportGenerator
from config import ResortConfig, DatabaseConfig
from db_queries import execute_query_to_dataframe, get_revenue_query

# Display settings
pd.set_option('display.max_columns', None)
pd.set_option('display.width', None)
pd.set_option('display.max_colwidth', None)

print("‚úÖ All modules imported successfully!")

‚úÖ All modules imported successfully!

In [20]:
# ========== CONFIGURATION ==========

RESORT = "PURGATORY"           # Resort name
DATABASE = "PURGATORY"         # Database name (usually same as resort)
GROUP_NO = 46                  # Group number (46 for Purgatory, -1 for all)
DAYS_BACK = 15                 # Number of days to look back
OUTPUT_DIR = "reports"         # Output directory for CSV files

# Calculate date range
date_end = datetime.now()
date_ini = date_end - timedelta(days=DAYS_BACK)

print(f"üìä Configuration:")
print(f"   Resort: {RESORT}")
print(f"   Database: {DATABASE}")
print(f"   Group Number: {GROUP_NO}")
print(f"   Date Range: {date_ini.strftime('%Y-%m-%d')} to {date_end.strftime('%Y-%m-%d')}")
print(f"   Output Directory: {OUTPUT_DIR}")

üìä Configuration:
   Resort: PURGATORY
   Database: PURGATORY
   Group Number: 46
   Date Range: 2025-11-04 to 2025-11-19
   Output Directory: reports

In [8]:
# Initialize report generator
generator = ReportGenerator(OUTPUT_DIR)

# Generate all reports
saved_files = generator.generate_all_reports(
    resort=RESORT,
    database=DATABASE,
    group_no=GROUP_NO,
    days_back=DAYS_BACK
)

print(f"\n‚ú® Generated {len(saved_files)} reports successfully!")

======================================================================
  MCP Database Report Generator
  Mountain Capital Partners
======================================================================

üèîÔ∏è  Resort: Purgatory
üìÖ Date Range: 2025-10-20 to 2025-11-19
üìÅ Output Directory: reports
======================================================================

Connection successful!

‚úì Database connection established

üìä Generating Revenue Report for Purgatory...
   ‚úì Retrieved 10 revenue records
   ‚úì Total Revenue: $10,292.86
   ‚úì Saved: reports/Purgatory_revenue_20251119_231927.csv

üíº Generating Payroll Report for Purgatory...
   ‚úì Retrieved 2089 payroll records
   ‚úì Saved: reports/Purgatory_payroll_20251119_231927.csv

üë• Generating Visits Report for Purgatory...
   ‚úì Retrieved 9 visit records
   ‚úó Error generating visits report: Unknown format code 'f' for object of type 'str'

üå®Ô∏è  Generating Weather Report for Purgatory...
   ‚úì Retrieved 1 weather records
   ‚úì Saved: reports/Purgatory_weather_20251119_231927.csv

üí∞ Generating Complex Revenue Report for Purgatory...
   ‚úì Retrieved 14 detailed revenue records
   ‚úì Total Revenue: $10,485.77
   ‚úì Saved: reports/Purgatory_revenue_detailed_20251119_231927.csv
Connection closed.

======================================================================
  Report Generation Complete
======================================================================

‚úì Generated 4 report(s)

üìÑ Saved Files:
   ‚Ä¢ reports/Purgatory_revenue_20251119_231927.csv
   ‚Ä¢ reports/Purgatory_payroll_20251119_231927.csv
   ‚Ä¢ reports/Purgatory_weather_20251119_231927.csv
   ‚Ä¢ reports/Purgatory_revenue_detailed_20251119_231927.csv

‚ú® Generated 4 reports successfully!

In [10]:
# Create database connection
db = DatabaseConnection()
conn = db.connect()

# Initialize stored procedures handler
sp = StoredProcedures(conn)

Connection successful!

In [21]:
print("üìä Generating Revenue Report...")
revenue_df = sp.execute_revenue(DATABASE, GROUP_NO, date_ini, date_end)

if not revenue_df.empty:
    print(f"‚úì Retrieved {len(revenue_df)} revenue records")
    display(revenue_df.head(10))
    print(f"\nüí∞ Total Revenue: ${revenue_df.iloc[:, -1].sum():,.2f}" if len(revenue_df.columns) > 0 else "")
else:
    print("‚ö† No revenue data found")

üìä Generating Revenue Report...

‚úì Retrieved 7 revenue records

        DepartmentTitle account                 department    revenue
0               Tickets    T104                      D1500   246.0000
1           Powderhouse                              D5201  1955.0000
2  Purg Sports Main Ave                              D4055  2133.7900
3               Tickets    T100                      D1500     9.0000
4               Rentals                              D3000   477.0000
5               Dante's          D5202                       100.0000
6   Village Market Deli                              D5209  2562.2500

üí∞ Total Revenue: $7,483.04

In [22]:
print("üíº Generating Payroll Report...")
payroll_df = sp.execute_payroll(RESORT, date_ini, date_end)

if not payroll_df.empty:
    print(f"‚úì Retrieved {len(payroll_df)} payroll records")
    display(payroll_df.head(10))
else:
    print("‚ö† No payroll data found")

üíº Generating Payroll Report...
‚úì Retrieved 1116 payroll records

,eecode,start_punchtime,start_punchtype,end_punchtime,end_punchtype,department,rate
0,A1Z8,2025-11-08 17:56:23,ID,2025-11-08 20:35:27,OD,D5820,19.5
1,A1Z8,2025-11-05 08:55:20,ID,2025-11-05 16:47:10,OD,D5820,19.5
2,A1Z8,2025-11-16 11:00:12,ID,2025-11-16 14:05:06,OD,D7010,19.5
3,A1Z8,2025-11-06 09:48:23,ID,2025-11-06 16:53:19,OD,D5820,19.5
4,A1Z8,2025-11-19 08:40:50,ID,NaT,None,D7010,19.5
5,A1Z8,2025-11-14 09:13:02,ID,2025-11-14 17:07:58,OD,D7010,19.5
6,A1Z8,2025-11-13 09:15:00,ID,2025-11-13 17:00:00,OD,D7010,19.5
7,A1Z8,2025-11-12 09:05:39,ID,2025-11-12 17:10:00,OD,D5820,19.5
8,A1Z8,2025-11-10 09:07:16,ID,2025-11-10 15:16:05,OD,D5820,19.5
9,A1Z8,2025-11-15 07:42:15,ID,2025-11-15 12:06:28,OD,D7010,19.5

In [23]:
print("üë• Generating Visits Report...")
visits_df = sp.execute_visits(RESORT, date_ini, date_end)

if not visits_df.empty:
    print(f"‚úì Retrieved {len(visits_df)} visit records")
    display(visits_df.head(10))
else:
    print("‚ö† No visits data found")

üë• Generating Visits Report...

‚úì Retrieved 4 visit records

      Resort        Date  Visits                Location
0  Purgatory  2025-11-05       0  Purgatory Comp Tickets
1  Purgatory  2025-11-07       1  Purgatory Comp Tickets
2  Purgatory  2025-11-08       1  Purgatory Comp Tickets
3  Purgatory  2025-11-13       6  Purgatory Comp Tickets

In [24]:
print("üå®Ô∏è Generating Weather Report...")
weather_df = sp.execute_weather(RESORT, date_ini, date_end)

if not weather_df.empty:
    print(f"‚úì Retrieved {len(weather_df)} weather records")
    display(weather_df.head(10))
else:
    print("‚ö† No weather data found")

üå®Ô∏è Generating Weather Report...
‚úì Retrieved 1 weather records

,date,snow_24hrs,snow_48hrs,snow_72hrs,base_depth,season_total,current_weather,current_temperature
0,2025-11-05 08:00:12.700,0,0,0,0,None,Sunny,38

In [25]:
# Save reports as CSV files
import os

if not os.path.exists(OUTPUT_DIR):
    os.makedirs(OUTPUT_DIR)

timestamp = datetime.now().strftime("%Y%m%d_%H%M%S")

# Save each report
reports = [
    (revenue_df, "revenue"),
    (payroll_df, "payroll"),
    (visits_df, "visits"),
    (weather_df, "weather"),
]

saved_files = []
for df, report_name in reports:
    if not df.empty:
        filename = f"{RESORT}_{report_name}_{timestamp}.csv"
        filepath = os.path.join(OUTPUT_DIR, filename)
        df.to_csv(filepath, index=False)
        saved_files.append(filepath)
        print(f"‚úì Saved: {filepath}")

print(f"\nüìÅ Saved {len(saved_files)} reports to {OUTPUT_DIR}/")

‚úì Saved: reports/PURGATORY_revenue_20251119_235004.csv
‚úì Saved: reports/PURGATORY_payroll_20251119_235004.csv
‚úì Saved: reports/PURGATORY_visits_20251119_235004.csv
‚úì Saved: reports/PURGATORY_weather_20251119_235004.csv

üìÅ Saved 4 reports to reports/

In [ ]:
# Close the database connection
db.close()
print("‚úì Database connection closed")

In [22]:
print("üèîÔ∏è Available Resorts:")
for i, resort in enumerate(ResortConfig.RESORTS, 1):
    print(f"   {i}. {resort}")

print("\nüìã Purgatory Group Numbers:")
for group_no, group_name in ResortConfig.PURGATORY_GROUPS.items():
    print(f"   {group_no}: {group_name}")

print("\nüìã MCP Group Numbers:")
for group_no, group_name in ResortConfig.MCP_GROUPS.items():
    print(f"   {group_no}: {group_name}")

üèîÔ∏è Available Resorts:
   1. Snowbowl
   2. Purgatory
   3. Brian Head
   4. Lee Canyon
   5. Nordic Valley
   6. Sipapu
   7. Willamette

üìã Purgatory Group Numbers:
   46: *PURGATORY
   54: *HESPERUS
   59: *SNOWCAT
   67: *SPIDER MOUNTAIN
   70: *DMMA
   71: *WILLAMETTE

üìã MCP Group Numbers:
   9: ** PAJARITO
   10: ** SANDIA
   12: ** WILLAMETTE
   13: ** AZ SNOWBOWL (temporary, only used week of 4th July 2025)

In [ ]:
# Uncomment to run - this queries the database schema

from db_queries import map_db_tables_and_columns

with DatabaseConnection() as conn:
    tables_df = map_db_tables_and_columns(conn)
    print(f"Found {len(tables_df)} columns across {tables_df['table'].nunique()} tables")
    display(tables_df.head(20))
    
    # Show tables
    print("\nüìä Available Tables:")
    for table in sorted(tables_df['table'].unique()):
        num_cols = len(tables_df[tables_df['table'] == table])
        print(f"   ‚Ä¢ {table} ({num_cols} columns)")

Connection successful!

/root/shakudo-projects/mcp/MCP_DMR/db_queries.py:62: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, conn)

Found 2136 columns across 80 tables

       table column_name
0   acc_actv      resort
1   acc_actv    activ_id
2   acc_actv     cluster
3   acc_actv     site_id
4   acc_actv  activ_type
5   acc_actv    tag_line
6   acc_actv      ref_no
7   acc_actv     details
8   acc_actv   date_time
9   acc_actv      person
10  acc_actv    location
11  acc_actv   location2
12  acc_actv    details2
13  acc_actv    last_mod
14    access      resort
15    access     pass_no
16    access     cluster
17    access  masterpass
18    access   parent_no
19    access    swipe_no

üìä Available Tables:
   ‚Ä¢ CardProcessLog (11 columns)
   ‚Ä¢ Guest_Activate (19 columns)
   ‚Ä¢ Guest_Auth (16 columns)
   ‚Ä¢ Guest_Documentation (7 columns)
   ‚Ä¢ Guest_PendingPhoto (14 columns)
   ‚Ä¢ Guest_Shipping (12 columns)
   ‚Ä¢ Guest_ShippingBatch (13 columns)
   ‚Ä¢ Visits_All (11 columns)
   ‚Ä¢ acc_actv (14 columns)
   ‚Ä¢ access (54 columns)
   ‚Ä¢ accounts (67 columns)
   ‚Ä¢ accttype (8 columns)
   ‚Ä¢ addlink (10 columns)
   ‚Ä¢ address (30 columns)
   ‚Ä¢ category (11 columns)
   ‚Ä¢ cc_trans (59 columns)
   ‚Ä¢ date_comparison (2 columns)
   ‚Ä¢ dates (1 columns)
   ‚Ä¢ dci_liab (8 columns)
   ‚Ä¢ dci_mods (11 columns)
   ‚Ä¢ departme (10 columns)
   ‚Ä¢ gst_actv (16 columns)
   ‚Ä¢ gst_pass (101 columns)
   ‚Ä¢ i_invent (18 columns)
   ‚Ä¢ i_items (32 columns)
   ‚Ä¢ i_locatn (11 columns)
   ‚Ä¢ i_loclnk (4 columns)
   ‚Ä¢ i_mcode (9 columns)
   ‚Ä¢ i_pchord (22 columns)
   ‚Ä¢ i_po_hdr (18 columns)
   ‚Ä¢ i_tmplat (7 columns)
   ‚Ä¢ i_tmpnam (6 columns)
   ‚Ä¢ i_tplcls (4 columns)
   ‚Ä¢ i_vendor (39 columns)
   ‚Ä¢ invoices (58 columns)
   ‚Ä¢ items (230 columns)
   ‚Ä¢ l_forms (20 columns)
   ‚Ä¢ mcp_guests (8 columns)
   ‚Ä¢ mcp_updates (2 columns)
   ‚Ä¢ mktgcode (5 columns)
   ‚Ä¢ operator (59 columns)
   ‚Ä¢ pmt_type (44 columns)
   ‚Ä¢ pricing (31 columns)
   ‚Ä¢ prof_ctr (10 columns)
   ‚Ä¢ r_ActivityTypes (4 columns)
   ‚Ä¢ r_binding (40 columns)
   ‚Ä¢ r_bindng (40 columns)
   ‚Ä¢ r_bmodel (10 columns)
   ‚Ä¢ r_entals (30 columns)
   ‚Ä¢ r_eqpmfg (19 columns)
   ‚Ä¢ r_eqpmod (6 columns)
   ‚Ä¢ r_header (33 columns)
   ‚Ä¢ r_invent (38 columns)
   ‚Ä¢ r_levels (11 columns)
   ‚Ä¢ r_mreasn (5 columns)
   ‚Ä¢ r_packgs (12 columns)
   ‚Ä¢ r_rules (6 columns)
   ‚Ä¢ r_shops (9 columns)
   ‚Ä¢ r_types (14 columns)
   ‚Ä¢ resort_info (14 columns)
   ‚Ä¢ resort_location (2 columns)
   ‚Ä¢ resrvatn (45 columns)
   ‚Ä¢ sale_hdr (33 columns)
   ‚Ä¢ salenote (5 columns)
   ‚Ä¢ sales_pt (102 columns)
   ‚Ä¢ scans (16 columns)
   ‚Ä¢ sh_info (8 columns)
   ‚Ä¢ sh_save (56 columns)
   ‚Ä¢ shs_info (9 columns)
   ‚Ä¢ sp_group (7 columns)
   ‚Ä¢ sp_link (5 columns)
   ‚Ä¢ specials (57 columns)
   ‚Ä¢ srcecode (5 columns)
   ‚Ä¢ template (150 columns)
   ‚Ä¢ tr_info (9 columns)
   ‚Ä¢ tr_save (85 columns)
   ‚Ä¢ transact (74 columns)
   ‚Ä¢ trs_info (10 columns)
   ‚Ä¢ visits (9 columns)
   ‚Ä¢ ww_sales (16 columns)
Connection closed.

In [23]:
# Analyze revenue trends if you have the data loaded
if 'complex_revenue_df' in locals() and not complex_revenue_df.empty:
    
    print("üìä Revenue Summary Statistics:")
    if 'revenue' in complex_revenue_df.columns:
        print(f"   Total Revenue: ${complex_revenue_df['revenue'].sum():,.2f}")
        print(f"   Average per Record: ${complex_revenue_df['revenue'].mean():,.2f}")
        print(f"   Median: ${complex_revenue_df['revenue'].median():,.2f}")
        print(f"   Max: ${complex_revenue_df['revenue'].max():,.2f}")
        print(f"   Min: ${complex_revenue_df['revenue'].min():,.2f}")
        
        # Top revenue sources
        if 'account' in complex_revenue_df.columns:
            print("\nüí∞ Top 5 Revenue Accounts:")
            top_accounts = complex_revenue_df.nlargest(5, 'revenue')[['account', 'department', 'revenue']]
            display(top_accounts)
else:
    print("‚ÑπÔ∏è Run the revenue report cells above first to perform analysis")

‚ÑπÔ∏è Run the revenue report cells above first to perform analysis